
#evm-title{ 
  line-height: 0px;
  padding-top: 17px; 
}

#evm-subtitle{ color: gray; }

/****bars****/


.indicators-container{
  overflow: auto;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  float:left;
} 

.indicators-container p{ 
  line-height: 15px; 
  padding: 15px 0 15px 0;
  font-size: 12px;
}

.evm-bars-container{
  width: 80px;
  height: 100px;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
}

#spi-pv-bar{ background-color: #0f75bc; }
#spi-ev-bar{ background-color: #8cc63f; }
#cpi-ev-bar{ background-color: #8cc63f; }
#cpi-ac-bar{ background-color: #fcb040; }

.bars{
  width: 40px;
  text-align: center;
  float: left;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  
}

/********** Summary Box **********/
#evm-summary{
    height: 200px;
}

#evm-summary-indicators{
    background: #3d454d;
    color: white;
    padding: 10px;
    overflow: auto;
    /*overflow-x: scroll;
    white-space: nowrap; /*keeps inline forever*/
}

/**********Dropdown box********/
#baseline_id{ border-radius: 0; }
#baseline_id option{ color: grey; }

/***********Charts***********/
#evm-charts-wrapper{
  margin: auto;
}

#evm-main-chart{
  padding: 40px 0 40px 0;
}

#evm-versions-charts{
  
}

/*********Chart legend + info********/
#evm-legend-info{
  border: lightgray 1px solid;
  margin: 10px;
}

#evm-legend-content{
  margin: auto;
  width: 950px;
  overflow:auto;
}

#evm-legend-content div{
  display: inline-block;
  padding: 20px;
  color: dimgray;
  line-height: 5px
}

#evm-legend-ev{
  padding-top: 10px;
  color: #8cc63f;
}

#evm-legend-ac{
  padding-top: 20px;
  color: #fcb040;
}

#evm-legend-pv{
  padding-top: 20px;
  color: #0f75bc ;
}