.evm-gauge{
	width: 130px;
}

.gauge-container{
    float: right;
    padding: 10px;
}

#evm-subtitle{
    color: gray;
}

/**********Summary box**********/
#evm-summary{
    float: right;
    /*width: 330px;*/
    height: 200px;
}

#evm-summary-indicators{
    border: 1px solid lightgrey;
    overflow: auto;
}

/**********Dropdown box********/
#baseline_id{
    border-radius: 0; 
}

#baseline_id option{
    color: grey;
}

.styled-select select {
   background: transparent;
   width: 570px;
    background-color: lightgrey;
   padding: 5px;
   color gray;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

/********remove summarybox min width**********/
@media all and (max-width: 1100px){
  #evm-summary{
    display: none;
  }
}